/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Reset some basic elements */
html, body, #root {
  height: 100%;
}

.App { /* a class to use for general pages */
  text-align: center;
  background-color: #adbc9f; /* Set your custom hex code color here */
  color: #12372A; /* Adjust text color for better visibility if needed */
  min-height: 100vh; /* Makes the background color cover the whole page */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/* Reset margins and padding for specific elements */
.image-left, .horizontal-bar {
  margin: 0;
  padding: 0;
}

.image-left {
  position: fixed;  /* Keeps the image at the specified position regardless of scrolling */
  top: 2vh;           /* Aligns the top edge of the image with the top of the viewport */
  left: 2vw;          /* Aligns the left edge of the image with the left of the viewport */
  width: 15%;       /* Sets the width of the image to 15% of the viewport width */
  height: auto;     /* Maintains the aspect ratio of the image */
}

.horizontal-bar {
  width: 100vw;
  height: 1.64vh;
  background-color: #436850; /* Camo green */
  position: fixed;   /* Fixed position, directly following the image */
  top: calc(21% * 0.7);  /* Adjust the top position to directly follow the image */
  left: 0;
}



body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #ADBC9F; /* Light green background */
  color: #333; /* Default text color */
}

/* Global container styles */
.container {
  max-width: 131vh;
  margin-top: 10vh;
  padding: 0 20svh;
}

.container img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

.saldoicon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.password-box {
  position: relative;
  margin: 20px;
  padding: 20px;
}

.amount-box {
  position: relative;
  margin: 20px;
  padding: 20px;
}

.amount-input {
  width: 32vw; /* Example width */
  max-width: 400px;
  height: 10.9vh;
  max-height: 70px;
  padding: 10px;
  font-size: 200%;
  font-weight: 900;
  border: 3px solid #12372A;
  background-color: #436850; 
  color: #FBFADA; 
  text-shadow: -1px -1px 0 #12372A, 1px -1px 0 #12372A, -1px 1px 0 #12372A, 1px 1px 0 #12372A;
}

.amount-input::placeholder {
  color: #FBFADA; 
  text-shadow: -1px -1px 0 #12372A, 1px -1px 0 #12372A, -1px 1px 0 #12372A, 1px 1px 0 #12372A;
}

.password-input {
  width: 32vw; /* Adjust width as necessary */
  max-width: 400px;
  height: 10.9vh;
  max-height: 70px;
  padding: 10px;
  font-size: 150%;
  font-weight: 900;
  border: 2px solid #12372A;
  background-color : #436850; /* Light grey background */
  color: #FBFADA; /* Green text */
  text-shadow: -1px -1px 0 #12372A, 1px -1px 0 #12372A, -1px 1px 0 #12372A, 1px 1px 0 #12372A; /* Dark green text outline */
}



.flex-container {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 50px; /* Grotere padding aan beide zijden van de container */
  position: relative;
}

.center-container {
  text-align: center;
  width: 50%;
  flex-basis: 100%; /* Laat de welkomstboodschap meer ruimte innemen */
  flex-grow: 4;
}

.side-buttons {
  display: flex;
  width: 30vw;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1; /* Stelt de groei van de knoppencontainers in */
  
}

.left-buttons {
  align-items: flex-start;
}

.right-buttons {
  align-items: flex-end;
}

.choice-button {
  padding: 10px 20px;
  margin: 5vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.89vh;
  font-weight: 900;
  min-width: 21vw;
  min-height: 10vh;
  max-width: 21vw;
  max-height: 20vh;
  background-color: #ADBC9F; /* Green background */
  color: #12372A;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}
.left-buttons .choice-button {
  text-align: left;
}

.right-buttons .choice-button {
  text-align: right;
}

.left-buttons .choice-button::after {
  z-index: -1;
  position: fixed;
  /* Change "right: 0" to "left: 0" for left side line */
  left: 0;
  content: '';
  margin-right: 50%;
  margin-top: 1%;
  width: 15%;
  border-bottom: 1.5vh solid #436850;
}

.right-buttons .choice-button::after {
  z-index: -1;
  position: fixed;
  /* Change "right: 0" to "left: 0" for left side line */
  right: 0;
  content: '';
  margin-left: 50%;
  margin-top: 1%;
  width: 15%;
  border-bottom: 1.5vh solid #436850;
}

.choice-button:hover {
  background-color: white; /* Darker green on hover */
}

.choice-button.hide-button {
  visibility: hidden;
}

.startButton {
  padding: 10px 20px;
  margin: 5vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.89vh;
  font-weight: 900;
  min-width: 27vw;
  min-height: 10vh;
  max-width: 30vw;
  max-height: 20vh;
  background-color: #436850; /* Green background */
  color: #12372A;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.startButton:hover {
  background-color: white; /* Darker green on hover */
}

.errorPin {
  color: #12372A;
  font-size: 5vh;
  font-weight: 900;
  margin-top: 2vh;
}

#progressBarContainer {
  position: fixed;  
  bottom: 0;        
  left: 0;         
  width: 100%;     
  background-color: #12372A;
  padding: 3px;
  border-top: 1px solid #436850;
}

#progressBar {
  height: 20px;
  background-color: #436850;
  width: 100%;    
  transition: width 1s linear;
}

