<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>WING ATM</title>
<link rel="stylesheet" href="/css/globals.css">
<img src="/wingiconbig.png" alt="Logo Wing" class="image-left">
<div class="horizontal-bar"></div>
