<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="App">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <body>
        <style>
            .text-overlay{
                position: absolute;
            }

            #balanceResult{
                display: flex;
            }

            .keypad{
                margin-right: 20px;
            }

            img {
                width: 100%;
                height: auto;
            }
        </style>
        <div class="container">
            <div>
            <h1>Bank Account Balance Inquiry</h1>
            <form id="balanceForm">
                <label for="bankAccount">Bank Account Number:</label>
                <input type="text" id="bankAccount" name="bankAccount" required><br><br>
            </form>
            <div class="text-overlay"> 
                Pincode:  <div id="balanceResult"></div>
            </div>
            </div>
        </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/balance-inquiry.js"></script>
</body>
</html>