<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="App">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <body>
    
        <div class="container">
            
            <h1>Welkom bij WING</h1>
            <button class="startButton">Begin de sessie!</button>
            <h1>Socket.IO to SerialPort</h1>
            <input type="text" id="inputData" placeholder="Enter data">
            <button onclick="sendData()">Send to Arduino</button>
        </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/scripts/handlebon.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
      var startButton = document.querySelector('.startButton');
      startButton.addEventListener('click', function() {
          window.location.href = '/scan'; // Redirect to the '/scan' route
      });
  });

  const socket = io();

  function sendData() {
    const data = document.getElementById('inputData').value;
    socket.emit('sendData', data);
  }
</script>
</body>
</html>