<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="App">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <body>
    
        <div class="container">
            
            <h1>Welkom bij WING</h1>
            <button class="startButton">Begin de sessie!</button>

        </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/scripts/handleDispenser.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Clear the old values from sessionStorage
    sessionStorage.clear();
    console.log('Session storage cleared');
      var startButton = document.querySelector('.startButton');
      startButton.addEventListener('click', function() {
          window.location.href = '/scan'; // Redirect to the '/scan' route
      });
  });
</script>
</body>
</html>