<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="App">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
      <body>
          <div class="flex-container">
              <div class="side-buttons left-buttons">
                  <button class="choice-button">Opnemen</button>
                  <button class="choice-button">Snel Opnemen <span>&#8364;</span>70</button>
                  <button class="choice-button">Saldo Checken</button>
              </div>
              
              <div class="center-container">
                  <h2>Welkom <span id="naamDisplay"></span></h2>
                  <h2>Maak uw keuze</h2>
                  
              </div>
              
              <div class="side-buttons right-buttons">
                  <button class="choice-button hide-button">Optie 4</button> 
                  <button class="choice-button hide-button">Optie 5</button>
                  <button class="choice-button">Afbreken</button>
              </div>
      </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/handlebutton.js"></script>
<script>
  window.onload = function() {

    const name = sessionStorage.getItem('name');
    if (name) {
        document.getElementById('naamDisplay').innerHTML = 
            `${name}`;
    } else {
        document.getElementById('naamDisplay').innerHTML = 
            "Unknown";
    }
};
</script>
</body>
</html>
