<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="App">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <body>
      <div class="flex-container">
        <div class="side-buttons left-buttons">
            <button class="choice-button hide-button">empty</button>
            <button class="choice-button hide-button">empty</button>
            <button class="choice-button hide-button">empty</button>
        </div>
        
        <div class="center-container">
            
          <h1>Voer uw pincode in</h1> 
            <div class="password-box">
              <input type="text" id="password"  maxlength="4" class="password-input" style="text-align: center;" readonly>
              
          </div>

          <div class="errorPin" id="message" ></div>
          <h3>Zorg dat niemand meekijkt</h3> 
        </div>
        
        <div class="side-buttons right-buttons">
            <button class="choice-button hide-button">empty</button> 
            <button class="choice-button hide-button">empty</button>
            <button class="choice-button">Afbreken</button>
        </div>
</div>
        
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
<script type="module" src="/socket.io/socket.io.js"></script>
<script type="module" src="/scripts/handlepin.js"></script>
<script type="module" src="/scripts/handlebutton.js"></script>
</body>
</html>