<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="App">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <body>
    
        <div class="container">
            
            <h1>Voer je pincode in</h1> 
            <div class="password-input">
              <input type="text" id="password" placeholder="****"  maxlength="4" style="text-align: center;" readonly>
          </div>
          
        </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/handlepin.js"></script>
</body>
</html>