<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="App">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <body>
    
        <div class="container">
            
            <h1>Scan uw pas</h1>
            <img src="/scanicon.png" alt="Logo Wing">
        
        </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/handlerfid.js"></script>
<script>
    var socket = io();

    socket.on('connect', function() {
        console.log('Connected to WebSocket server!');
    });

    socket.on('rfidData', function(data) {
        console.log('RFID data received:', data);
        sessionStorage.setItem('rfidData', JSON.stringify(data));
        console.log('Accepted event received, redirecting...');
        window.location.replace('/pin');
    });
</script>
</body>
</html>